Programación Concurrente/Cliente_SOAP/xml-resources/web-service-references/Estudiantes/wsdl/localhost_8080/ServidorSOAP/Estudiantes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://API/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://API/">

<xs:element name="AgregarEstudiante" type="tns:AgregarEstudiante"/>

<xs:element name="AgregarEstudianteResponse" type="tns:AgregarEstudianteResponse"/>

<xs:element name="AgregarMateria" type="tns:AgregarMateria"/>

<xs:element name="AgregarMateriaAEstudiante" type="tns:AgregarMateriaAEstudiante"/>

<xs:element name="AgregarMateriaAEstudianteResponse" type="tns:AgregarMateriaAEstudianteResponse"/>

<xs:element name="AgregarMateriaResponse" type="tns:AgregarMateriaResponse"/>

<xs:element name="ListaEstudiantes" type="tns:ListaEstudiantes"/>

<xs:element name="ListaEstudiantesResponse" type="tns:ListaEstudiantesResponse"/>

<xs:element name="MateriasDelEstudiante" type="tns:MateriasDelEstudiante"/>

<xs:element name="MateriasDelEstudianteResponse" type="tns:MateriasDelEstudianteResponse"/>

<xs:complexType name="ListaEstudiantes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListaEstudiantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstudiante">
<xs:sequence>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Telefono" type="xs:string" minOccurs="0"/>
<xs:element name="Cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEstudianteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MateriasDelEstudiante">
<xs:sequence>
<xs:element name="CedulaEstudiante" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MateriasDelEstudianteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarMateriaAEstudiante">
<xs:sequence>
<xs:element name="NombreMateria" type="xs:string" minOccurs="0"/>
<xs:element name="CedulaEstudiante" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarMateriaAEstudianteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarMateria">
<xs:sequence>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarMateriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>