Programación Concurrente/Cliente_SOAP/src/META-INF/wsdl/localhost_8080/ServidorSOAP/Estudiantes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://API/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API/" name="Estudiantes">
<types>
<xsd:schema>
<xsd:import namespace="http://API/" schemaLocation="http://localhost:8080/ServidorSOAP/Estudiantes?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarMateria">
<part name="parameters" element="tns:AgregarMateria"/>
</message>
<message name="AgregarMateriaResponse">
<part name="parameters" element="tns:AgregarMateriaResponse"/>
</message>
<message name="ListaEstudiantes">
<part name="parameters" element="tns:ListaEstudiantes"/>
</message>
<message name="ListaEstudiantesResponse">
<part name="parameters" element="tns:ListaEstudiantesResponse"/>
</message>
<message name="AgregarMateriaAEstudiante">
<part name="parameters" element="tns:AgregarMateriaAEstudiante"/>
</message>
<message name="AgregarMateriaAEstudianteResponse">
<part name="parameters" element="tns:AgregarMateriaAEstudianteResponse"/>
</message>
<message name="AgregarEstudiante">
<part name="parameters" element="tns:AgregarEstudiante"/>
</message>
<message name="AgregarEstudianteResponse">
<part name="parameters" element="tns:AgregarEstudianteResponse"/>
</message>
<message name="MateriasDelEstudiante">
<part name="parameters" element="tns:MateriasDelEstudiante"/>
</message>
<message name="MateriasDelEstudianteResponse">
<part name="parameters" element="tns:MateriasDelEstudianteResponse"/>
</message>
<portType name="Estudiantes">
<operation name="AgregarMateria">
<input wsam:Action="http://API/Estudiantes/AgregarMateriaRequest" message="tns:AgregarMateria"/>
<output wsam:Action="http://API/Estudiantes/AgregarMateriaResponse" message="tns:AgregarMateriaResponse"/>
</operation>
<operation name="ListaEstudiantes">
<input wsam:Action="http://API/Estudiantes/ListaEstudiantesRequest" message="tns:ListaEstudiantes"/>
<output wsam:Action="http://API/Estudiantes/ListaEstudiantesResponse" message="tns:ListaEstudiantesResponse"/>
</operation>
<operation name="AgregarMateriaAEstudiante">
<input wsam:Action="http://API/Estudiantes/AgregarMateriaAEstudianteRequest" message="tns:AgregarMateriaAEstudiante"/>
<output wsam:Action="http://API/Estudiantes/AgregarMateriaAEstudianteResponse" message="tns:AgregarMateriaAEstudianteResponse"/>
</operation>
<operation name="AgregarEstudiante">
<input wsam:Action="http://API/Estudiantes/AgregarEstudianteRequest" message="tns:AgregarEstudiante"/>
<output wsam:Action="http://API/Estudiantes/AgregarEstudianteResponse" message="tns:AgregarEstudianteResponse"/>
</operation>
<operation name="MateriasDelEstudiante">
<input wsam:Action="http://API/Estudiantes/MateriasDelEstudianteRequest" message="tns:MateriasDelEstudiante"/>
<output wsam:Action="http://API/Estudiantes/MateriasDelEstudianteResponse" message="tns:MateriasDelEstudianteResponse"/>
</operation>
</portType>
<binding name="EstudiantesPortBinding" type="tns:Estudiantes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarMateriaAEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MateriasDelEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Estudiantes">
<port name="EstudiantesPort" binding="tns:EstudiantesPortBinding">
<soap:address location="http://localhost:8080/ServidorSOAP/Estudiantes"/>
</port>
</service>
</definitions>